---
layout: base
---

<section class="section">
  <div class="container columns ">
    <aside class="column is-one-quarter menu">
      <ul class="menu-list">
        {% for menu in site.data[page.menu] %}
        <li><a href="{{ menu.url}}">{{ menu.name }}</a>
          {% if menu.children[0] %}
          <ul class="menu-list">
            {% for submenu in menu.children %}
            <li><a href="{{ submenu.url}}">{{ submenu.name }}</a>
              {% if submenu.children[0] %}
              <ul class="menu-list">
                {% for submenu2 in submenu.children %}

                <li><a href="{{ submenu2.url}}">{{ submenu2.name }}</a></li>
                  {% endfor %}

              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </aside>

    <article class="column page content">
      {{ content }}

    </article>
  </div>
</section>