<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>

    <section class="section">
        <div class="container">
            {{ content }}
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="columns">

                <div class="column">
                    <div class="content has-text-centered">
                        <p>
                            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
                            The source code is licensed
                            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
                            website content is licensed
                            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                        </p>
                    </div>
                </div>
                <div class="column">First column</div>
                <div class="column">
                    <p>Content in this repository is unofficial Fan Content permitted under the Fan Content Policy. Not
                        approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the
                        Coast. ©Wizards of the Coast LLC.</p>

                    <p>เนื้อหาในรีโพสิทอรีนี้เป็นเนื้อหาอย่างไม่เป็นทางการจากแฟนคลับ (Fan Content)
                        ได้รับอนุญาตภายใต้นโยบายเนื้อหาจากแฟนคลับ ไม่ได้รับการรับรอง / สนับสนุนจากบริษัทวิซาร์ดฯ
                        เนื้อหาบางส่วนที่ใช้เป็นทรัพย์สินของบริษัท วิซาร์ด ออฟ เดอะ โคสต์. ©Wizards of the Coast LLC.
                    </p>

                    <p>https://company.wizards.com/en/legal/fancontentpolicy</p>
                </div>
            </div>
        </div>


    </footer>
</body>

</html>